body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
nav{
    display:flex;
    background-color: #445e2f;
    height:80px;
    align-items: center;
    border-radius: 3px;
    box-shadow: 1px 1px 7px 3px gray;
}
nav img{
    width: 100px;
    height: 80px;
    margin-right: 10px;
    margin-left:10px;
}
nav h2 {
    margin-right: auto;
    color: wheat;
    font-weight: 500;
}
nav h3{
    margin-right: 20px;
    padding: 15px;
    background-color: #445e2f;
    border-radius: 5px;
    font-weight: 500;
}
nav h3:hover{
    background-color: #445e7f;
}
.nav--link{
    color: orange;
    text-decoration: none;
}
.nav--link:hover {
    color:aquamarine;
}

.nav--link-active {
    color: wheat;
    text-decoration: none;
}

h3 {
    font-weight: normal;
}

.main-header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: #8cba66;
    justify-content:  center;
    margin: 25px 0;
    border-radius: 5px;
}

.section-text p {
    font-size: 22px;
}

.home-section{
    margin: 15px 0;
    width: 90%;
    justify-content:  center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.home-section p {
    color: #445e2f;
}

.veggies-img {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-left: 20px

}

.home-body-img {
    height: 70px;
    width: 70px;
    margin-right: 20px;
    margin-left: 10px;

}

.plate-img {
    height: 55px;
    width: 70px;
    margin-right: 20px;
    margin-left: 10px;

}

.donation-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    font-size: 18px;
    list-style: circle;
    font-weight: 300;
}
.donation-text p {
    color: #445e2f;
    max-width: 600px;
    text-align: justify;
}
#donate-button {
    width: 300px;
    height: 60px;
    background-color: #445e2f;
    color: wheat;
    font-size: 25px;
    font-weight: 100;
    border-radius: 7px;
    border-style: none;
    margin-bottom: 100px;
}

.donation-images-left {
    max-width: 400px;
    position: relative;
}
.donation-images-right {
    max-width: 400px;
    position: relative;
}
.don-img-money {
    margin-top: -100px;
    max-width: 400px;
    margin-left: 30px;
    border-radius: 7px;
}
.don-img-apples {
    margin-top: -10px;
    max-width: 400px;
    border-radius: 7px;
}
.don-img-store {
    margin-left: -30px;
    max-height: 300px;
    max-width: 400px;
    border-radius: 7px;
}
.don-img-seller {
    margin-top: -20px;
    margin-left: -20px;
    max-width: 400px;
    border-radius: 7px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #445e7f;
    color: wheat;
    width: 100%;
    display: flex;
    align-items: center;
}
footer > p {
    margin: 10px auto;
}

.underNav{
    color: orange;
    margin: 10px;
    text-align: center;
}

main{
    margin-left: 12vw;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

/* This is the div that holds each images */
.dishes{
    margin: 10px;
    height: 600px;
    width: 500px;
    background-color: #445e2f;
}

/* This is the image of the food */
.meals{
    width: 100%;
    height: 100%;
}

/* This is the div for the overlay hover message */
.recipes{
    position: relative;
    bottom: 104%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #445e2f;
}
.dishes:hover .recipes{
    opacity:0.9;
}

/* This is the title for the food */
.recipeTitle{
    padding-top: 10px;
    padding-left: 10px;
    color: orange;
    text-decoration: underline;
}

/* This is the div that holds the ingredient and instruction divs */
.recipeMain{
    padding-left: 10px;
}

/* This is the div for the ingredients section of the images */
.ingredients{
    color:orange;
}

/* This is the div for the instructions section */
.instructions{
   color:orange;
}
