body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
nav{
    display:flex;
    background-color: #445e2f;
    height:80px;
    align-items: center;
    border-radius: 3px;
    box-shadow: 1px 1px 7px 3px gray;
}
nav img{
    width: 100px;
    height: 80px;
    margin-right: 10px;
    margin-left:10px;
}
nav h2 {
    margin-right: auto;
    color: wheat;
    font-weight: 500;
}
nav h3{
    margin-right: 20px;
    padding: 15px;
    background-color: #445e2f;
    border-radius: 5px;
    font-weight: 500;
}
nav h3:hover{
    background-color: #445e7f;
}
.nav--link{
    color: orange;
    text-decoration: none;
}

.nav--link:hover {
    color:aquamarine;
}
.nav--link-active {
    color: wheat;
    text-decoration: none;
}

.donation-main {
    display: flex;
}


.donation-text {
    margin: 50px 150px;
    font-size: 21px;
    list-style: circle;
    max-width: 600px;
    font-weight: 300;
}
.donation-text p {
    color: #445e2f;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: #445e7f;
    color: wheat;
    width: 100%;
    display: flex;
    align-items: center;
}
footer > p {
    margin: 10px auto;
}

.donation-images-left {
    margin-left: 50px;
    max-width: 400px;
}
.donation-images-right {
    margin-top: 50px;
    max-width: 400px;
}
.don-img-money {
    margin-top: 100px;
    max-width: 400px;
}
.don-img-apples {
    margin-top: 20px;
    max-width: 400px;
}
.don-img-store {
    margin-top: 100px;
    margin-left: -50px;
    max-width: 400px;
}
.don-img-seller {
    margin-top: 50px;
    margin-left: -50px;
    max-width: 400px;
}